button{
	align-content:center;
	border-radius : 1px;
}



body{
	
	background: #220000;
	color: white;
}

img.second{
	margin-top: 30px;
	width: 90%;
	height: 400px;

}

img.first{
	margin-top: 20px;
	height: 370px;
	width : 90%;
	text-align: center;
}


/*GEN STYLES*/
	.border{

	border: solid #fff4fe 4px;
	
	}


/*LARGE MAIN CONTAINERS 
|||||||||||||||||||
HEADER BEGINNING */

.heads{
		background:  url('../imgs/notebook.png') top  no-repeat /*#edf0f4*/#220000;
		}
	/* navigation */
	#nav{

		height :100px;
		background:#250000/* #edf0f4#310000*/;
		display: none;
	
		width: 100%;

		}


		/* SITE LINKS */
		.siteNav{

			
				}
				#lwbNav{

				background: /*#edf0f4*/#220000;
				}
				#icon{

					margin-top: 10px;
					margin-left: 8px;

				background: #220000;
				border: none;
			
				}
					img.icon{
							height: 70px;
							width: 90px;
					}

		/* SOCIAL LINKS */

		.socialNav{
			margin-top: 15px;
	
			}
			img.icon2{
							height: 83px;
							width: 90px;
					}

	/* logo */

	#logoContainer{
		
		text-align:center;
		height: 1000px;
			}

		#logoIMG{

			height: 700px; width: 829px;
		}





/* BOX:FRONT PAGE MAIN CONTENT */
	#box{

		background:/*#180000*/#220000;
		display: none;


		}
		/*columns*/
		.lwp{

		width: 100%;
		background: /*#edf0f4*/#250000;
		color: white;
		text-align:center;
		}

		.titles{

		}


/* PAGE 2*/

#meat{
		background: #A17190; 
		display:none;
		}	

		#titleBar{
			padding:20px;
			background-color:#220000;
			/*background: /*#edf0f4#310000*/
			text-align:center;
			font-size:50px;
			height: 110px;
			border: 1px solid black;
			}
		/*content container */
		.cntnt{
			color: black ;

			}

			.headlines{
			
			font-size: 50px;
			font-weight: bold;
			font-style: italic;
			}

			.articleContainer{

			text-align: center;
			color: black;
			background: #A17190;
			width: 100%;
			height: 600px;
			}

			#info{
				margin-top: 20px;
				text-indent: 80px;
				text-align: center;
				font-size: 30px;
			}

		#sideBar{
			}
			/*button*/
			.but{
			color: #A17190 ;
			font-weight: bold;
			font-size: 40px;
			height: 80px;
			width: 100%;
			border: 2px solid;
				border-radius : 1px;
			background: #220000;
			}


	

	
	

	

	






